<h2 class="mt-4">Resultados</h2>
<% if @cities.present? %>
  <table class="table text-center">
    <thead>
    </thead>
    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhum resultado encontrado.</p>
<% end %>