<div id="content" class="p-4">
  <h1 class="text-center">Buscar Cidades</h1>
</div>

<div class="p-4">
  <%= form_with url: cities_search_path, method: :get, local: false, id: 'city-search-form', remote: true do %>
    <div class="form-group my-4">
      <%= select_tag :state, options_from_collection_for_select(State.all, :name, :name), id: 'state-select', class: 'form-select', onchange: 'handleStateChange()' %>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fas fa-search fa-2x"></i>
          </span>
        </div>
        <%= text_field_tag :name, nil, id: 'city-name', placeholder: 'Digite o nome da cidade desejada para busca', class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div id="city-results" class="mt-4">
    <%= render partial: "city_results" %>
  </div>
</div>