body {
    background-color: #c5c5c5;
  }
    
  .container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
  }
#content {
    background-color: black;
    color: yellow;
}